<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="action_hospital_patient" model="ir.actions.act_window">
        <field name="name">Patients</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">hospital.patient</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create your first patient
            </p>
        </field>
    </record>


    <menuitem id="menu_hospital_root"
              name="Hospital"
              sequence="0"/>

    <menuitem id="menu_patient_root"
              name="Patient Details"
              parent="menu_hospital_root"
              sequence="0"/>

    <menuitem id="menu_appointment_root"
              name="Appointments"
              parent="menu_hospital_root"
              sequence="20"/>

    <menuitem id="menu_configuration"
              name="Configurations"
              parent="menu_hospital_root"
              sequence="100"/>


</odoo>
